* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #000000; 
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 0px;
}

header h1 {
    font-size: 2.5em;
}

.chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.messages {
    flex-grow: 1;
    margin-bottom: 20px;
}

.messages .message {
    margin-bottom: 10px;
    padding: 12px;
    background-color: #f1f1f1;
    border-radius: 8px;
    max-width: 80%;
}

.messages .user {
    background-color: #E0F7FA;
    align-self: flex-end;
}

.messages .bot {
    background-color: #FFEBEE;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#micBtn, #sendBtn {
    padding: 12px;
    background-color: #000000; 
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#micBtn img, #sendBtn img {
    width: 22px; 
    height: 22px; 
    object-fit: contain; 
}


input[type="text"] {
    padding: 12px;
    width: calc(100% - 110px);
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.2em;
}

input[type="file"] {
    display: none;
}

footer {
    padding: 10px;
    text-align: center;
}

footer button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}

footer button:hover {
    background-color: #ffffff; 
}

#imageBtn {
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

#imageBtn img {
    width: 20px;
    height: 20px;
}

.image-message {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
}
